/node_modules
# HACK: why is it installed?
scripts/seed/node_modules
/.env

# web
web/dist
web/.next
web/next-env.d.ts
web/.vercel
web/.dev.vars
# server
server/target

# ?
tsconfig.tsbuildinfo

# Nix + Direnv
/.direnv
/.envrc
/shell.nix

server/node_modules/.cache