@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-tBlue: #0b8bee;
  --color-tYellow: #ffcd00;
  --color-tGray: #f4f4f4;
  --color-focus: #196aab;
}

@plugin "daisyui/theme" {
  /* biome-ignore lint: daisyui */
  name: "light";
  --color-primary: #0b8bee;
}
